# Database (Turso)
TURSO_DATABASE_URL=
TURSO_AUTH_TOKEN=

# Auth (BetterAuth)
BETTER_AUTH_SECRET=

# App URLs (Optional)
# Automatically detected on Vercel and Localhost.
# Set NEXT_PUBLIC_APP_URL only if you have a custom production domain.
NEXT_PUBLIC_APP_URL=

# App Settings
ALLOWED_EMAILS=

# Email (Resend)
RESEND_API_KEY=
RESEND_FROM_EMAIL=onboarding@resend.dev
